@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 16px;
}
body {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background: url("../images/bg-body.gif");
}
.container {
  width: 600px;
  margin: 0 auto;
}
.box {
  background-color: white;
  margin: 40px 0 0 0;
}
.headerimage {
  background: url("../images/image1.jpg");
  height: 200px;
}
.headerimage: :last-child {
  background: url("../images/image2.jpg");
  height: 200px;
}
.content {
  padding: 2rem;
}
h2 {
  color: darkolivegreen;
  padding: 1rem 0;
}
p {
  line-height: 2;
  color: gray;
}
a {
  text-decoration: none;
  background: #feb127;
  padding: 5px 10px;
  margin-top: 1rem;
  display: inline-block;
  border-radius: 5px;
  color:black;
}
